{% extends "base.html" %}
{% from "_render_elements.html" import render_input %}
{% block title %}
Sign Up
{% endblock %}
{% block content %}
<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1>Sign Up</h1>
		<form method="post" action="{{ url_for('signup') }}">
			{{ render_input("username", "Username") }}
			{{ render_input("email", "Email") }}
			{{ render_input("password", "Password", type="password") }}
			<button type="submit" class="btn btn-primary">Sign Up</button>
		</form>
		<p><a href="{{ url_for('login') }}">Have an account already? Log In</a></p>
	</div>
</div>
{% endblock %}
